*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 18px;
    font-family: Calibri,Arial;
}

.header {
    width: 1140px;
    margin: 20px auto 10px auto;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-image: url('bg-image.jpg');
    background-size: cover;
}

.container {
    width: 1140px;
    margin: 20px auto 10px auto;
    position: relative;
}

.article {
    width: 75%;
    display: inline-block;
    float: left;
    padding-right: 30px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.article-text {
    text-align: justify;
    margin:20px 0;
}

.other {
    width: 25%;
    display: inline-block;

}

.other img {
    width: 80%;
    height: 300px;
}

.blog p,a {
    font-size: 16px;
    color: #f28f0c;
    text-decoration:none;
    text-transform: uppercase;
}

.blog {
    margin-bottom: 50px;
}

h1,h2 {
    color:#f28f0c;
}
h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.article-image {
    height: auto;
    width: 100%;
    
}

#footer {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

#footer-heading {
    border-top: 1px solid #808080;
}

.footer p {
    width: 60%;
    margin-left: 20px;
    text-align: justify;
    display: inline-block;
}

.link {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.social {
    position: fixed;
    top: 10px;
    right: 2px;
}

